@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
@import url('https://fonts.cdnfonts.com/css/bowler');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto+Condensed:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Roboto+Condensed:ital@1&display=swap');

body {
  overflow-x: hidden;
  position: relative;
  background: #FFD54F;
}

.button {
  z-index: 4;
  position: relative;
  display: flex;
  font: 1.5vw Montserrat;
  font-family: 'Montserrat', sans-serif;
  padding: 1vh 2vw;
  border: none;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  
  left: 10vw;
  top: -2vh;
}

/* Додано відносні одиниці вимірювання до інших стилів */

.text {
  position: relative;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font: bold 2vw Montserrat;
  text-transform: uppercase;
  text-decoration: none;
  left: 25vw;
  top: 12vh;
}

.text2 {
  position: relative;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font: 1vw Montserrat;
  text-transform: uppercase;
  text-decoration: none;
  left: 27vw;
  top: 7vh;
}

.create {
  width: max-content;
  display: flex;
  padding: 1.5vh 2vw;
  border: none;
  border-radius: 7px;
  font: 1.5vw Montserrat;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background: black;
  cursor: pointer;
  margin-top: 15vh;
  margin-left: 35vw;
}

.logo {
  z-index: 5;
  width: 10vw;
  height: 2vh;
  display: flex;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 2vw;
  top: 2vh;
  left: 1.5vw;
}

.img {
  position: relative;
  width: 33vw;
  height: 33vw;
  left: 60vw;
  top: -25vw;
}

.images {
  position: relative;
  width: 100vw;
  right: 1vw;
  top: 35vh;
}

.images2 {
  position: relative;
  width: 100vw;
  right: 1vw;
  top: 45vh;
}



.dev{
  position: relative;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font: bold 2vw Montserrat;
  text-transform: uppercase;
  text-decoration: none;
  left: 33vw;
  top: 40vh; 

}

/* Додано медіа-запити для адаптації на конкретних точках зміни приблизності */

@media screen and (max-width: 768px) {
  /* Ваші стилі для екранів з шириною менше 768px */
  .button {
    font-size: 1.5vw;
    padding: 1vh 2vw;
    left: 10vw;
  }
  
  /* Додаткові стилі за необхідності */
}
